body {
  background-color: #282c34;
}

.Outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  min-height: 100vh;
}

.App .Calendar {
  margin-right: 4vw;
}

.App .form-field {
  margin-top: 2vh;
}
.App input, .App textarea {
  width: 100%;
  min-width: 20vw;
  margin-top: 4px;
  font-family: inherit;
}
.App input {
  height: calc(10px + 2vmin);
}
.App input:invalid {
  border: none;
  border-bottom: groove 4px #dc2e51;
}
.App textarea {
  display: inline-block;
}

.App button {
  width: 102%;
  height: calc(16px + 3vmin);
  margin: 0 auto;
  font-size: calc(8px + 2vmin);
}

.App .note {
  font-size: calc(12px + 1vmin);
}

.App .none-text {
  display: none;
}
.App .success-text {
  color: #23CF10;
}
.App .failure-text {
  color: #C90008;
}

.flush-with-top {
  margin-top: 0;
}
