body {
  background-color: #282c34;
}

.Outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  min-height: 100vh;
}

.App .Calendar {
  margin-right: 4vw;
}

.App .form-field {
  margin-top: 2vh;
}
.App .form-field .input {
  width: 100%;
  min-width: 20vw;
  margin-top: 4px;
}
.App .form-field .input-large {
  height: calc(16px + 1vh);
}
.App .form-field .input-large,
.App .form-field .datetime-picker {
  font-size: calc(10px + 1vmin);
}
.App .form-field .datetime-picker {
  width: 101.5%;
  color: black;
  background: white;
}
.App .form-field .input-large:invalid, .App .form-field .react-datetime-picker__inputGroup__input:invalid {
  border: none;
  border-bottom: groove 4px #dc2e51;
}
.App .form-field .textarea-large {
  display: inline-block;
  font-family: inherit;
}

.App .form-field .button-large {
  width: 102%;
  height: calc(16px + 3vh);
  margin: 0 auto;
  font-size: calc(8px + 2vmin);
}

.App .note {
  font-size: calc(12px + 1vmin);
}

.App .none-text {
  display: none;
}
.App .success-text {
  color: #23CF10;
}
.App .failure-text {
  color: #C90008;
}

.flush-with-top {
  margin-top: 0;
}
